---

---

<section class="flex mb-60 flex-col mt-60 justify-center items-center">
  <h1 class="text-primary animate font-secondary text-xl p-4 m-4 z-30">
    CONFIRMA TU ASISTENCIA
  </h1>

  <div
    id="form"
    class="flex flex-col text-center justify-center items-centerjj"
  >
    <label class="text-primary animate m-2" for="asistentes">Asistentes</label>
    <textarea
      class="bg-secondary animate text-sm text-center placeholder:text-gray-400 text-primary px-4 h-10 border border-primary outline-none rounded-xl"
      spellcheck="false"
      id="asistentes"
      placeholder="Nombres de los asistentes "></textarea>
    <label class="text-primary animate m-2" for="phone">Teléfono</label>
    <input
      type="number"
      id="tel"
      min="0"
      class="bg-secondary [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none placeholder:text-gray-400 animate text-sm text-center text-primary px-4 h-10 border border-primary outline-none rounded-xl"
      placeholder="70706654"
    />
    <label class="text-primary animate m-2" for="confirmacion"
      >Confirmación</label
    >
    <select
      name="confirmacion"
      id="confirmacion"
      class="bg-secondary animate text-sm text-center text-gray-400 px-4 h-10 border border-primary outline-none rounded-xl"
    >
      <option value="default" disabled selected>Selecciona una opción</option>
      <option value="Sí Asistiré">Sí Asistiré</option>
      <option value="No, no podré asistir">No, no podré asistir</option>
    </select>
    <label class="text-primary animate m-2" for="asistentes"
      >Mensaje para los novios</label
    >
    <textarea
      class="bg-secondary animate text-sm text-center placeholder:text-gray-400 text-primary px-4 h-24 border border-primary outline-none rounded-xl"
      id="mensaje"
      spellcheck="false"
      placeholder="Mensaje "></textarea>
    <div>
      <button
        class="bg-white w-24 p-2 border border-primary rounded-full text-primary mt-4 hover:bg-secondary"
        id="button">Enviar</button
      >
    </div>
  </div>
  <script>
    const boton = document
      .getElementById("button")
      ?.addEventListener("click", () => enviar());

    function enviar() {
      const nombres = document.getElementById("asistentes") as HTMLInputElement;
      if (!nombres) {
        alert("Ingresa el nombre de al menos un asistente");
      }
      const telefono = document.getElementById("tel") as HTMLInputElement;
      const tel = parseInt(telefono.value);
      if (Number.isNaN(tel) || tel < 0) {
        alert("Ingresar un número de teléfono válido");
        return;
      }
      const confirmacion = document.getElementById(
        "confirmacion"
      ) as HTMLSelectElement;
      const mensaje = document.getElementById("mensaje") as HTMLInputElement;
      
      const data = {
        nombres: nombres.value,
        telefono: telefono.value,
        confirmacion: confirmacion.value,
        mensaje: mensaje.value
      }

     fetch("https://irvin-wedding-backend.deno.dev/api/save", {
      method: "POST",
       body: JSON.stringify(data),
       headers:{
        "Content-Type": "application/json"
       }

     }).then((res)=>alert("Gracias por confirmar :)"))


      nombres.value = "";
      telefono.value = "";
      confirmacion.selectedIndex = 0;
      mensaje.value = "";
    }
  </script>
</section>
