<div class="p-14 lg:p-8 bg-background z-20 fixed top-0 right-0 left-0"></div>
<div class="text-center lg:pt-12 z-10 relative pb-0">
  <h1
    class="text-center leading-10 mt-36 lg:mt-16 font-elegant text-8xl pl-3 md:text-9xl text-primary"
  >
    Gabriela
  </h1>
  <h1
    class="text-center font-elegant text-8xl leading-[80px] md:leading-[50px] md:text-9xl text-primary"
  >
    e
  </h1>
  <h1
    class="text-center font-elegant text-8xl leading-[100px] md:text-9xl md:leading-[170px] text-primary"
  >
    Irvin
  </h1>
  <h3
    class="text-primary whitespace-break-spaces font-secondary text-2xl leading-tight"
  >
    Te invitan a su boda
  </h3>
  <h3 class="text-primary font-semibold font-mono text-3xl mt-12">Agosto</h3>
  <div class="flex flex-row justify-center items-center gap-2">
    <h3
      class="text-primary font-mono text-xl border-t-2 border-primary border-b-2"
    >
      SABADO
    </h3>
    <h3 class="text-primary font-elegant text-8xl mr-2">30</h3>
    <h3
      class="text-primary font-mono text-xl pl-2 pr-2 border-t-2 border-b-2 border-primary"
    >
      8AM
    </h3>
  </div>
  <h3 class="text-primary font-semibold font-mono text-3xl mt-4">2026</h3>
  <div class="mt-6">
    <h3 class="text-primary font-mono text-xl pl-2">123 Anywhere St.</h3>
    <h3 class="text-primary font-mono text-xl pl-2">Any city</h3>
  </div>
  <button
    class="bg-white p-2 border border-primary rounded-full text-primary mt-4 hover:bg-secondary"
    ><a
      target="_blank"
      href="https://www.google.com/maps/place/Las+Terrazas+del+Alto/@13.9871094,-88.913322,14z/data=!4m13!1m2!2m1!1sHoteles!3m9!1s0x8f6367552e2bf913:0xcc81e5030aedb412!5m2!4m1!1i2!8m2!3d13.9871094!4d-88.8772731!15sCgdIb3RlbGVzkgEKcmVzdGF1cmFudOABAA!16s%2Fg%2F11s4zk5jrn?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
      >Ver Ubicación</a
    ></button
  >
</div>

<style is:global>
  @font-face {
    font-family: "Elegant";
    src: url("../assets/BonheurRoyale-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Secondary";
    src: url("../assets/Lumanosimo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  .fade {
    mask-image: linear-gradient(#fef7ff 50%, transparent);
  }
</style>
