<section
  class="flex flex-col mt-60 justify-center items-center text-center animate"
>
  <h1 class="text-primary animate font-secondary text-xl p-4 m-4">
    CÓDIGO DE VESTIMENTA
  </h1>

  <h3 class="text-primary underline animate">Formal</h3>
  <span class="text-primary p-2 animate"
    >Mujeres de largo | Hombres de traje</span
  >

  <div class="bg-secondary m-4 p-4 rounded">
    <h1 class="text-primary animate font-secondary text-xl mb-4">
      SOLO ADULTOS
    </h1>
    <p class="p-4 m-4 text-primary animate">
      Amamos a sus pequeños, pero queremos que este día solo tengan que
      preocuparse por pasarla increíble.
    </p>
  </div>
</section>
