<section
  class="flex p-4 m-4 mt-60 border-r-4 border-b-4 mr-2 border-primary flex-col justify-center items-center text-center pt-4"
>
  <h1 class="text-primary animate font-secondary text-xl p-4 m-4">
    CON LA BENDICIÓN DE NUESTROS PADRES
  </h1>
  <h3 class="text-primary underline animate">Novia</h3>
  <span class="text-primary m-2 animate">Padre de la Novia</span>
  <span class="text-primary m-2 animate">Madre de la Novia</span>
  <h3 class="text-primary underline mt-8 p-2 animate">Novio</h3>
  <span class="text-primary m-2 animate">Padre del Novio</span>
  <span class="text-primary m-2 animate">Madre del Novio</span>
</section>
